html
  head
    title Track me!
    link(href='http://fonts.googleapis.com/css?family=Wellfleet|Sintony:400,700', rel='stylesheet', type='text/css')
    style
      body { font-family: 'Sintony'; font-size: 15px; }
      h1 { font-family: 'Wellfleet'; font-size: 36px; }
      #map-canvas { width: 60%; margin: auto; min-height: 550px }
    meta(http-equiv='refresh', content='300')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    != "<script>"
    != "var points = [new google.maps.LatLng(" + lat + ", " + lng + ")];"
    != "</script>"
    script
      var directionDisplay;
      var directionsService = new google.maps.DirectionsService();
      function initialize() {
        var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(40.862585,-76.79441), new google.maps.LatLng(42.622024,-73.832623));
        directionDisplay = new google.maps.DirectionsRenderer();
        var mapOptions = {
          zoom: 5,
          center: new google.maps.LatLng(40.07304, -74.724323),
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        map.fitBounds(bounds);
        directionDisplay.setMap(map);
        for(var i = 0; i < points.length; i++) {
          var marker = new google.maps.Marker({position: points[i], map: map});
          //map.addOverlay(marker);
        }
        var start = "40.680873,-74.431052";
        var end = "42.443961,-76.501881";
        var request = {origin: start, destination: end,
            travelMode: google.maps.DirectionsTravelMode.DRIVING};
        directionsService.route(request, function(response, status) {
          directionDisplay.setDirections(response);
        });
      }
  body(onload="javascript:initialize()")
    center
      h1 Track me!
    div(style='width: 45%; margin: auto;')
      b How it works:
      | The Android client pings the server with an updated GPS
      | location roughly every 20 minutes. The web server records the running list of
      | locations and then displays them on a map.
    br
    center
      h3 Last updated #{timestamp}
    br
    div(id="map-canvas")
