<html>
  <head>
    <title>Track me!</title>
    <link href='http://fonts.googleapis.com/css?family=Wellfleet|Sintony:400,700' rel='stylesheet' type='text/css' />
    <link href='/static/style.css' rel='stylesheet' type='text/css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
    <script src="/static/map.js"></script>
  </head>
  <body>
    <div id="loading">
      <h1>Loading...</h1>
      <img src="/static/loading.gif" alt="Loading" />
    </div>
    <div id="main">
      <h1>Track me!</h1>
      <div id="explanation">
        <strong>How it works:</strong>
        The Android client pings the server with an updated GPS
        location roughly every 20 minutes. The web server records the
        new location and then displays it on a map.
      </div>
      <h3 id="timestamp"></h3>
    </div>
    <div id="map-canvas" />
  </body>
</html>
