<html>
  <head>
    <title>Track me!</title>
    <link href='http://fonts.googleapis.com/css?family=Wellfleet|Sintony:400,700' rel='stylesheet' type='text/css' />
    <link href='/static/style.css' rel='stylesheet' type='text/css' />
    <meta http-equiv='refresh' content='300' />
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
    <script src="/static/map.js"></script>
  </head>
  <body onload="javascript:initialize(<%=lat%>, <%=lng%>)">
    <h1>Track me!</h1>
    <div id="explanation">
      <strong>How it works:</strong>
      The Android client pings the server with an updated GPS
      location roughly every 20 minutes. The web server records the
      new location and then displays it on a map.
    </div>
    <br />
    <h3>Last updated <%=timestamp%></h3>
    <br />
    <div id="map-canvas" />
  </body>
</html>
