body {
  font-family: 'Sintony';
  font-size: 15px;
}
h1 {
  font-family: 'Wellfleet';
  font-size: 36px;
}
h1, h3 {
  text-align: center;
}
#main {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40%;
}
#map-canvas {
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 60%;
}
#explanation {
  margin: 20px auto;
  width: 45%;
}
#loading {
  background: #000;
  color: #fff;
  left: 0px;
  min-height: 100%;
  opacity: 0.85;
  padding-top: 200px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
#loading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
