body {
  font-family: 'Sintony';
  font-size: 15px;
}
h1 {
  font-family: 'Wellfleet';
  font-size: 36px;
}
h1, h3 {
  text-align: center;
}
#map-canvas {
  margin: auto;
  min-height: 550px;
  width: 60%;
}
#explanation {
  margin: 20px auto;
  width: 45%;
}
